In [2]:
import numpy as np 
import pandas as pd 

from pandas import Series , DataFrame
from numpy.random import randn

In [3]:
ser1 =  Series ([1,2,3,4], index=['A','B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2  = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['usa','maxico','canada'], index = [0,5,10])
ser3

0        usa
5     maxico
10    canada
dtype: object

In [11]:
ranger = range(15)

In [12]:
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger, method='ffill')

0        usa
1        usa
2        usa
3        usa
4        usa
5     maxico
6     maxico
7     maxico
8     maxico
9     maxico
10    canada
11    canada
12    canada
13    canada
14    canada
dtype: object

In [16]:
dframe=DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'],columns = ['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.667925 -1.414343  0.814561 -1.682567  0.084385
B -0.899825 -0.117145  0.196253 -1.502079  0.036728
D -0.609961  0.172410 -0.321139  0.645540  0.364315
E -0.207255  0.870122 -0.443047  0.633719 -0.284300
F -0.709590 -0.447689  0.092579  0.870218  0.145589

In [20]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [21]:
dframe2

       col1      col2      col3      col4      col5
A  0.667925 -1.414343  0.814561 -1.682567  0.084385
B -0.899825 -0.117145  0.196253 -1.502079  0.036728
C       NaN       NaN       NaN       NaN       NaN
D -0.609961  0.172410 -0.321139  0.645540  0.364315
E -0.207255  0.870122 -0.443047  0.633719 -0.284300
F -0.709590 -0.447689  0.092579  0.870218  0.145589

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [23]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.667925 -1.414343  0.814561 -1.682567  0.084385   NaN
B -0.899825 -0.117145  0.196253 -1.502079  0.036728   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.609961  0.172410 -0.321139  0.645540  0.364315   NaN
E -0.207255  0.870122 -0.443047  0.633719 -0.284300   NaN
F -0.709590 -0.447689  0.092579  0.870218  0.145589   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A  0.667925 -1.414343  0.814561 -1.682567  0.084385
B -0.899825 -0.117145  0.196253 -1.502079  0.036728
D -0.609961  0.172410 -0.321139  0.645540  0.364315
E -0.207255  0.870122 -0.443047  0.633719 -0.284300
F -0.709590 -0.447689  0.092579  0.870218  0.145589

In [30]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

/home/diganta/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.667925 -1.414343  0.814561 -1.682567  0.084385   NaN
B -0.899825 -0.117145  0.196253 -1.502079  0.036728   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.609961  0.172410 -0.321139  0.645540  0.364315   NaN
E -0.207255  0.870122 -0.443047  0.633719 -0.284300   NaN
F -0.709590 -0.447689  0.092579  0.870218  0.145589   NaN