In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series ,DataFrame

In [3]:
ser1 = Series(np.arange(3),index=['a','b','c'])
ser1 = 2*ser1
ser1

a    0
b    2
c    4
dtype: int64

In [4]:
ser1['b']

2

In [5]:
ser1[1]

2

In [6]:
ser1[0:3]

a    0
b    2
c    4
dtype: int64

In [8]:
ser1[['a','b']]

a    0
b    2
dtype: int64

In [9]:
ser1[ser1>3]

c    4
dtype: int64

In [10]:
ser1[ser1>3]=10

In [11]:
ser1

a     0
b     2
c    10
dtype: int64

In [13]:
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['nyc','la','saf','dc','chi'],columns=['a','b','c','d','e'])
dframe

      a   b   c   d   e
nyc   0   1   2   3   4
la    5   6   7   8   9
saf  10  11  12  13  14
dc   15  16  17  18  19
chi  20  21  22  23  24

In [14]:
dframe['b']

nyc     1
la      6
saf    11
dc     16
chi    21
Name: b, dtype: int64

In [15]:
dframe[['b','e']]

      b   e
nyc   1   4
la    6   9
saf  11  14
dc   16  19
chi  21  24

In [16]:
dframe[dframe['c']>8]

      a   b   c   d   e
saf  10  11  12  13  14
dc   15  16  17  18  19
chi  20  21  22  23  24

In [17]:
dframe>10

         a      b      c      d      e
nyc  False  False  False  False  False
la   False  False  False  False  False
saf  False   True   True   True   True
dc    True   True   True   True   True
chi   True   True   True   True   True

In [20]:
dframe.loc['la']

a    5
b    6
c    7
d    8
e    9
Name: la, dtype: int64

In [22]:
dframe.ix[1]

/home/diganta/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a    5
b    6
c    7
d    8
e    9
Name: la, dtype: int64