In [3]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame

In [5]:
obj = Series ([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas =  Series([8700000,4300000,3000000,21000000,4000000], index =['ussr', 'germany','china','japan','usa'])
ww2_cas

ussr        8700000
germany     4300000
china       3000000
japan      21000000
usa         4000000
dtype: int64

In [11]:
ww2_cas['usa']

4000000

In [12]:
ww2_cas[ww2_cas>4000000]

ussr        8700000
germany     4300000
japan      21000000
dtype: int64

In [13]:
'usa' in ww2_cas

True

In [14]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'ussr': 8700000,
 'germany': 4300000,
 'china': 3000000,
 'japan': 21000000,
 'usa': 4000000}

In [15]:
ww2_series = Series(ww2_dict)
ww2_series

ussr        8700000
germany     4300000
china       3000000
japan      21000000
usa         4000000
dtype: int64

In [16]:
countries = ['china','germany','japan', 'usa', 'ussr', 'argentina']

In [18]:
obj2 = Series(ww2_dict, index = countries)

In [20]:
obj2

china         3000000.0
germany       4300000.0
japan        21000000.0
usa           4000000.0
ussr          8700000.0
argentina           NaN
dtype: float64

In [21]:
pd.isnull(obj2)

china        False
germany      False
japan        False
usa          False
ussr         False
argentina     True
dtype: bool

In [22]:
pd.notnull(obj2)

china         True
germany       True
japan         True
usa           True
ussr          True
argentina    False
dtype: bool

In [23]:
ww2_series

ussr        8700000
germany     4300000
china       3000000
japan      21000000
usa         4000000
dtype: int64

In [24]:
obj2

china         3000000.0
germany       4300000.0
japan        21000000.0
usa           4000000.0
ussr          8700000.0
argentina           NaN
dtype: float64

In [25]:
ww2_series +obj2

argentina           NaN
china         6000000.0
germany       8600000.0
japan        42000000.0
usa           8000000.0
ussr         17400000.0
dtype: float64

In [26]:
obj2.name = "world war 2 casualties"
obj2

china         3000000.0
germany       4300000.0
japan        21000000.0
usa           4000000.0
ussr          8700000.0
argentina           NaN
Name: world war 2 casualties, dtype: float64

In [28]:
obj2.index.name="countries "

In [29]:
obj2

countries
china         3000000.0
germany       4300000.0
japan        21000000.0
usa           4000000.0
ussr          8700000.0
argentina           NaN
Name: world war 2 casualties, dtype: float64